<html> 
<head>
<script type="text/javascript" src = "../static/js/ajax.js"></script> 
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
</head> 
<body>   
<div id="root" style="display:block">
<a href="javascript:sublayer()">aaa</a>
<p><button type="sublayer" onClick="sublayer()">aaa</button></p>
</div>    
<div id="sublayer" style="display:none">bbb</div> 




<div class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>