<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--头文件，调取css-->
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>红色中国</title>

<script type="text/javascript" src = "../static/js/ajax.js"></script>
<script type="text/javascript" src = "../static/js/socketio.js"></script>

</head>
<body>
<div class = "container-fluid">

<!--页头部分-->
<div>
<div id = "myDiv"></div>
<!--状态栏部分-->
<ul class="nav" style = "float:right">
{% if uid %}
<li class="nav-item" style = "float:right">
<p class="nav-link active" style = "color:#007bff">你好，{{username}}</p>
</li>
<li class="nav-item" style = "float:right">
<a  class="nav-link active" href="/signoff">退出登陆</a>
<a  class="nav-link active" href="/chat">进入聊天室</a>
</li>
{% block state %}{% endblock %}
{% else %}
<li class="nav-item" style = "float:right">
<a class="nav-link active" href="javascript:popUpSignin()">登陆</a>

</li>
<li class="nav-item" style = "float:right">
<a class="nav-link active" href="javascript:popUpReg()">注册</a>
</li>

{% endif %}
</ul>
<!--标题部分-->
<div>
  <h1 align="left" style = "color:#b22222">
  <strong class="header">{% block header %}空{% endblock %}</strong>
  </h1>
</div>
<hr />
<!--内容部分-->

<div>
<!--侧边栏部分-->
<div class="list-group" style = "width:20%;position:absolute">
    {% for city in cities %}
    <li class="list-group-item" style = "width:50%;text-align:center"><a style = "color:#FF6600" href="/area/{{city[0]}}"><strong>{{city[1]}}</strong></a></li>
    {% endfor %}
</div>

<!--正文部分-->

<div style = "width:60%;margin:0 auto;position:absolute;right:20%;text-align:center">
{% block content %}
{% endblock %}
</div>
</div>


<!--脚注部分-->
{% block footer %}
<div style = "width:100%;position:fixed;bottom:0;text-align:center;color:#0033FF"><tt><em>made by mikejly </em></tt></div>
{% endblock %}
</div>

<!--弹出框部分-->
<div class = "popUp" id="popUpSignin" style="display:none">
    <legend class = "inDivCenter">请输入您的登陆账号和密码：</legend>
    <p><input id="signUsername" name="username" placeholder="Username" class = "inDivCenter"></p>
    <p><input id="signPassword" name="password" placeholder="Password" type="password" class = "inDivCenter"></p>
    <p><button type="submit" onClick="ajaxSignin()" class = "btn btn-primary">登录</button></p>
    <div id="warningSign" style="display:none" class = "remindInfo"></div> 
</div>

<div class = "popUp" id="popUpReg" style="display:none">
    <legend class = "inDivCenter">请设置您的注册账号和密码:</legend>
    <p><input id="regUsername" name="username" placeholder="Username" class = "inDivCenter"></p>
    <p><input id="regPassword" name="password" placeholder="Password" type="password" class = "inDivCenter"></p>
    <p><button type="submit" onClick="ajaxReg()" class = "btn btn-primary">注册</button></p>
    <div id="warningReg" style="display:none" class = "remindInfo"></div> 
</div>



</body>
</html>
