<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/model.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<script type="text/javascript" src = "/static/js/ajax.js"></script>
</head>
<body>
{% if root == 1 %}
<form action="/area/{{cityid}}/modification" method="post">
<div><textarea rows="40" cols="100" name="description" value="{{description}}" id="description" >{{description}}</textarea></div>
<p><button  class="btn btn-primary" type="submit" onClick="ajaxMod({{cityid}})">保存</button></p>
</form>
{% else %}
您没有权限进行此操作！
{% endif %}
</body>
</html>