<html>
<head>
{% if state == "reg" %}
    <title>Please Sign In</title>
{% elif state == "sign" %}
    <title>Please Register</title>
{% elif username %}
    <title>Welcome, {{ username }}</title>
{% elif cityid %}
    <title>修改成功</title>
{% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
{% if state == "sign_wrong_data" %}
    <div class="alert alert-danger" role="alert">您输入的用户名或密码有误！</div>
{% elif state == "out_of_range" %}
    <div class="alert alert-danger" role="alert">请将您的用户名设在20个字符内，密码设在7-20个字符以内！</div>
{% elif username %}
    <body>
        <p><a href="/">返回首页</a></p>
        <p>Welcome, {{ username }}!</p>
    </body>
{% elif cityid %}
    <p><a href="/">返回首页</a></p>
    <p>修改成功</p>
{% endif %}

{% if state == "sign" %}
<script type="text/javascript">
    function ajaxSignin()
    {
 
    username = document.getElementById("username").value;
    password = document.getElementById("password").value;

    var xmlhttp;

    xmlhttp=new XMLHttpRequest();
    

    xmlhttp.onreadystatechange=function()
    //onreadystatechange 事件被触发 5 次（0 - 4），对应着 readyState 的每个变化。
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            if (xmlhttp.responseText == "success")
            {
                window.location = "/";
            }
            else
            {
                alert(xmlhttp.responseText);
            }
        }
    }
    xmlhttp.open("POST","/ajaxSignin",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    xmlhttp.send("username=" + username + "&password=" + password);
    }
</script>
<legend>请输入您的登陆账号和密码：</legend>
<p><input id="username" name="username" placeholder="Username" value="{{ username }}"></p>
<p><input id="password" name="password" placeholder="Password" type="password"></p>
<p><button type="submit" onClick="ajaxSignin()">登录</button></p>

{% elif state == "reg" %}
  <form action="/reg" method="post">
    <legend>请设置您的注册账号和密码:</legend>
    <p><input name="username" placeholder="Username" value="{{ username }}"></p>
    <p><input name="password" placeholder="Password" type="password"></p>
    <p><button type="submit">注册</button></p>
  </form>
{% endif %}
</body>
</html>


