<html>
<head>
{% if state == "reg" %}
    <title>Please Sign In</title>
{% elif state == "sign" %}
    <title>Please Register</title>
{% elif username %}
    <title>Welcome, {{ username }}</title>
{% elif cityid %}
    <title>修改成功</title>
{% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
{% if state == "sign_wrong_data" %}
    <div class="alert alert-danger" role="alert">您输入的用户名或密码有误！</div>
{% elif state == "out_of_range" %}
    <div class="alert alert-danger" role="alert">请将您的用户名设在20个字符内，密码设在7-20个字符以内！</div>
{% elif username %}
    <body>
        <p><a href="/">返回首页</a></p>
        <p>Welcome, {{ username }}!</p>
    </body>
{% elif cityid %}
    <p><a href="/">返回首页</a></p>
    <p>修改成功</p>
{% endif %}




</body>
</html>


