<html>
    <head>
        <script type="text/javascript" src = "/static/js/ajax.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    </head>
    <body>
        <div class = "completeCenter">
        <legend class = "inDivCenter">请输入您的登陆账号和密码：</legend>
        <p><input id="username" name="username" placeholder="Username" value="{{ username }}" class = "inDivCenter"></p>
        <p><input id="password" name="password" placeholder="Password" type="password" class = "inDivCenter"></p>
        <p><button type="submit" onClick="ajaxSignin()" class = "inDivCenter">登录</button></p>
        <div id="popUp" style="display:none" class = "remindInfo"></div> 
        </div>
    </body>
</html>