<html>
<head>
    <title>Please Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>

  <form action="/" method="post"> <!--action规定向何处发送数据-->
    <legend>请输入您的登陆账号和密码：</legend>
    <p><input name="username" placeholder="Username" value="{{ username }}"></p>
    <p><input name="password" placeholder="Password" type="password" value="{{ password }}"></p>
    <p><button type="submit">登录</button></p>
  </form>

</body>
</html>