<html>
    <!-- html：HyperText Markup Language -->
    <head>
            <style>
            .cities {
                background-color:black;
                color:white;
                margin:20px;
                padding:20px;
            } 
            </style>
            <style>
                    span.red {
                        color:red;
                    }
            </style>
    </head>
<body bgcolor="white">
    <h1 align="center">居中排列<span class = "red">(划重点）</span></h1>
    <!-- bgcolor 和 align 都是建议避免使用的属性，用样式代替 -->
    <hr />
    <!-- hr：horizontal rule -->
    <p><a href="#aaa">点击瞬移</a></p>
    <h2 style="background-color:red">This is a heading</h2>

    <h3 style="text-align:center">This is a heading</h3>
    <p>This is a paragraph</p>
    <br />
    <!-- 插入空行，自行封闭元素 -->
    <p style="font-family:verdana;color:blue;font-size:10px;">This is another paragraph</p>
     <!-- 依次是字体，颜色，大小 -->

    <p>This is<br />a para<br />graph with line breaks</p>
    <!-- 换行操作 -->
    

    <a href="http://www.w3school.com.cn">戳我</a>
    <!-- href：Hypertext Reference -->
    <img src="w3school.jpg" width="104" height="142" />
    <div class="cities">
    <h2>Chapter 1</h2>
    <p>This chapter explains ba bla bla</p>
    
    <h2>Chapter 2</h2>
    <p>This chapter explains ba bla bla</p>
    
    <h2>Chapter 3</h2>
    <p>This chapter explains ba bla bla</p>
    
    <h2><a name="C4">Chapter 4</a></h2>
    <p>This chapter explains ba bla bla</p>
    </div>

    <p><a name ="aaa"></a>瞬移之此</p>

</body>
</html>